<section
  class="pc"
  [class.pc--orange-on-navy]="card.variant === 'orange-on-navy'"
  [class.pc--navy-on-orange]="card.variant === 'navy-on-orange'"
  [id]="card.id"
  [attr.aria-labelledby]="'pc-heading-' + card.id"
>
  <div class="container">
    <div class="pc__outer">
      <div class="pc__inner">
        <header class="pc__head">
          <span class="pc__dot" aria-hidden="true"></span>
          <h3 class="pc__title display" [id]="'pc-heading-' + card.id">{{ card.title }}</h3>
          <button class="pc__close" type="button" aria-hidden="true" tabindex="-1">
            <span>&#10005;</span>
          </button>
        </header>

        <div class="pc__body">
          @if (card.intro) {
            <p class="pc__intro">{{ card.intro }}</p>
          }
          @if (card.note) {
            <p class="pc__note">{{ card.note }}</p>
          }

          <div class="pc__content">
            <ul class="pc__list">
              @for (item of card.items; track item) {
                <li>{{ item }}</li>
              }
            </ul>
            @if (card.illustrationSrc) {
              <img
                class="pc__illustration"
                [src]="card.illustrationSrc"
                [alt]="card.illustrationAlt || ''"
              />
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
